.vs
Synchronisation.Client/bin
Synchronisation.Client/obj
Synchronisation.Core/bin
Synchronisation.Core/obj
Synchronisation.Service/bin
Synchronisation.Service/obj
M2I.Diagnostics.EventLog/bin
M2I.Diagnostics.EventLog/obj
M2I.Diagnostics/bin
M2I.Diagnostics/obj