<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SyncMode" value="OneWay" />
		<add key="Folder1" value="C:\\TMP\\INPUT" />
		<add key="Folder2" value="C:\\TMP\\OUTPUT" />
	</appSettings>
</configuration>